@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

.nav-bg {
    background-color: #4741AF;
}

.nav-options {
    margin-left: 748px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.nav-name {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 24px;
}

.my-nav {
    background-color: #4741AF;
}

.home-head {
    background-color: #4741AF;
    padding: 200px 0px;

}

.img-1 {
    margin-top: 71px;
    border-radius: 2%;
}

.Enhance {
    margin-top: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 700;
}

.p1 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    vertical-align: baseline;
}

.read-more {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #6C63FF;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 45px;
    text-decoration: none;
}

.read-more:hover {
    box-shadow: 0px 5px 15px 3px rgba(100, 100, 100, 100.9);
    background-color: white;
    color: #4741AF;
}

.about-img {
    margin-left: -269px;
}

.container2 {
    background-color: white;
    margin-top: 150px;
}

.about-us {
    font-size: 24px;
    font-weight: 700;
    color: #8463FF;
    margin-top: 86px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

.left-p {
    font-size: 19px;
    color: #666666;
}

.More-About-us {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-top: 40px;
}

.service {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #6C63FF;
}

.Standard {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #222222;
}

.thrd-section-p {
    margin-top: 175px;
    padding-bottom: 21px;
}

.svgs {
    color: white;
}

.svgs2 {
    padding: 20px 20px;
    border-radius: 50%;
    background-color: #6C63FF;
}

.Web-Solutions {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: black;
}

.img-bg {
    margin-left: 184px;
    margin-top: 241px;
    background-color: #F3F9FB;
    border-radius: 50%;
    height: 624px;
    width: 624px;
}

.img-3 {
    margin-top: -120px;
}


.container4 {
    background-color: #F3F9FB;
    margin-top: 120px;
    padding-bottom: 150px;
    padding-top: 100px;
}

.choose {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #6C63FF;
}

.Quality {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #222222;
}

.sec-3 {
    margin-top: 138px;
}

.feature-img {
    margin-left: -160px;
}

.subtitle-5 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.text-p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}

.container5 {
    margin-top: 200px;
    padding-bottom: 50px;
}

.title-5 {
    text-align: center;
    color: #6C63FF;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.row-5 {
    margin-top: 150px;
}

.cards-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #222222;
    text-align: center;
}

.cards {

    border-bottom: 3px #6C63FF solid;
}

.cards-p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
}

.card-Details {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #222222;
    text-decoration: none;
}

.container6 {
    padding: 150px 0px;
}

.Features {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #6C63FF;
}

.Top-Features {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #222222;
}

.p-6 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    line-height: 28px;
}

.icon-6 {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #6C63FF;
    line-height: 60px;
    text-align: center;
    margin-right: -10px;
}

.icon-6 i {
    color: white;
    font-size: 20px;
}

.title-6 {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: black;
}

.img-feature2 {
    margin-left: 120px;
    margin-top: -39px;
}

.row-7 {
    padding: 140px 0px;
    background-color: #F0F6FB;
}

.p-7 {
    color: #6C63FF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.h1-7 {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.p-7-1 {
    margin-top: 40px;
    font-family: sans-serif;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
}

.row-7-2 {
    margin-top: 30px;
}

.row-8 {
    margin-top: 150px;
}

.p-8 {
    margin-top: 150px;
    color: #6C63FF;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.h1-8 {
    color: #222222;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.p-8-2 {
    font-family: sans-serif;
    color: #666666;
    font-size: 21px;
    font-weight: 400;
}

.p-8-3 {
    font-family: sans-serif;
    color: #999999;
    font-size: 15px;
    font-weight: 400;
}

.link-8 {
    font-family: 'Poppins', sans-serif;
    color: #222222;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.button-1 {
    margin-top: 75px;
}

.post:hover .post-img {
    transform: scale(1.1);
}

.post-img {
    transition: all .2s;
}

.cards:hover {
    margin-top: -20px;
}

.cards {
    transition: all 0.5s;
}

.svg-anim:hover .svgs2 {
    margin-left: 50px;
}

.svgs2 {
    transition: all .3s;
}