@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@700&family=Roboto:wght@400;500;700;900&display=swap');
.nav-bg{
    background-color: #4741AF;
}
.nav-options{
    margin-left: 748px;
}
.nav-name{
    
}
.my-nav{
    background-color: #4741AF;
}
.home-head{
    margin-top: 150px;
}
img{
    border-radius: 2%;
}